.mainPanel {
	-fx-background-image: url('/images/settingsImg/bgMenuSettings.jpg');
	-fx-background-position: 1%;
}

HBox,VBox,BorderPane {
	-fx-border-color: red;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}
AnchorPane {
	-fx-border-color: blue;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: dashed;
}

#lblTitle{
	-fx-text-fill: #e40017;
	-fx-alignment: center;
}

Button {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #000000;
	-fx-background-radius : 50px;
}

Button:hover{
	-fx-background-color: #212121;
	-fx-text-fill: #000000;
	-fx-background-radius : 50px;
}